
/* home page */

// General Module Styling

.home-module {
    position: relative;
    background-color: $brand-cyan-light;
    border: $border-size solid $brand-teal-dark;
    padding: 2em;

    p {
        font-family: $font-main;
        @extend .h3;
        line-height: 1.8em;
        color: $brand-teal-dark;

        strong {
            color: $brand-orange;
        }

    }
}

.module-tag {
    position: absolute;
    left: -$border-size;
    top:0;

    background-color: $brand-teal-dark;
    display: inline-block;
    padding: 1em;

    transform: translateY( calc( -100% - #{$border-size}) );
}

a {
    color:  $brand-teal-dark;
    border-bottom: 3px solid $brand-teal-dark;

    &:hover {
        color:  $brand-orange;
        border-bottom: 3px solid $brand-orange;
    }
}

.module-tag-right {
    position: absolute;
    right: -$border-size;
    top:0;

    background-color: transparent;
    display: inline-block;
    padding: 1em;

    transform: translateY( calc( -100% - #{$border-size}) );
}


// The Initiative Styling

.initiative-container p a {
    @extend .bold;
}

// Library Locations Module Styling

.module-link-list {
    position: relative;
    width: 100%;
    border: ($border-size / 2) solid $brand-teal-dark;
    overflow: auto;

}

.module-link-list-link {
    display: inline-block;
    text-align: center;
    background-color: $brand-teal-lighter;
    border: ($border-size / 2) solid $brand-teal-dark;
    float: left;

}

.module-library-link {
    position: relative;
    text-align: center;
    background-color: $brand-teal-lighter;
    border: ($border-size / 2) solid $brand-teal-dark;
    float: left;

    transition: background-color 250ms;

    .library-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        transition: transform 450ms;

    }

    .content-description {
        @extend .tiny;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        transition: transform 450ms;
        color: $brand-teal-lighter;

    }

    &:hover {
        background-color: $brand-teal-dark;
        border: ($border-size / 2) solid $brand-teal-dark;

        .library-name {
            color: white;
            transform: translate(-50%,-100%);
        }

        .content-description {
            color: white;
            transform: translate(-50%,50%);
        }

    }
}

.module-makerspace-link svg {
    position: relative;
    top:50%;

    width: 75%;
    transform: translateY(-50%);

    .svg-icon {
        fill: $brand-teal-dark;
    }
}
