@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');


@font-face {
	font-family: 'modern_pictograms_proregular';
	src: url('../fonts/modernpictogramspro_234.eot');
	src: url('../fonts/modernpictogramspro_234.eot?#iefix') format('embedded-opentype'),
		url('../fonts/modernpictogramspro_234.woff') format('woff'),
		url('../fonts/modernpictogramspro_234.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



body{
	font-family: $font-main;
	font-weight: normal;
	@include rfs(16);
	color: $dark;
}

*{
	font-family: $font-main;
}

.serif{
	font-family: $font-serif;
	letter-spacing: 0;
	font-weight: 400;

	&.italic{
		font-family: $font-serif-italic;
		font-style: italic;
	}

	&.bold,&strong{
		font-family: $font-serif-bold;
		font-weight: 700;
	}

}


//type sizes
//default sizes include:
//massive, huge, large, medium, regular, small

h1,.h1{
	//@include text-size($text-h1);
    @include rfs( 50.5 );
    line-height: 1.2em;
    font-weight: 800;
}

h2,.h2{
	@include rfs( 42 );
    line-height: 1.2em;
    font-weight: 800;
}

h3,.h3{
	@include rfs( 34 );
    line-height: 1.5em;
    font-weight: 700;
}

h4,.h4{
	@include rfs( 28 );
    line-height: 1.4em;
    font-weight: 500;
}

h5,.h5{
	@include rfs( 21 );
    line-height: 1.3em;
    font-weight: 500;
}

h6,.h6{
	@include rfs( 16 );
    line-height: 1.2em;
    font-weight: 500;
}

p{
	@include rfs( 18 );
    line-height: 1.4em;
	margin-top: 0;
    font-weight: 500;
}

.tiny {
    @include rfs( 12 );
    line-height: 1.2em;
    margin-top: 0;
    font-weight: 500;
}

//formatting

.bold,strong{
	font-family: $font-bold;
	font-weight: 1000;
}

.italic,em{
	font-family: $font-italic;
    font-style: italic;
}

.font-light{
	font-family: $font-light;
    font-weight: lighter;
}

.uppercase{
	text-transform: uppercase;
}

.underline{
	text-decoration: underline;
}

.centered{
	text-align: center;
}

.righted{
	text-align: right;
}

.tracked-less{
	letter-spacing: .06em;
}

.tracked{
	letter-spacing: .09em;
}



//typography colors

.white{
	color: white;
}

.ultra-light{
	color: $ultra-light;
}

.light{
	color: $light;
}

.medium-light{
	color: $medium-light;
}

.medium{
	color: $medium;
}

.medium-dark{
	color: $medium-dark;
}

.dark{
	color: $dark;
}

.brand-orange {
    color: $brand-orange;
}

.brand-orange-fill {
    fill: $brand-orange;
}

.brand-orange-light {
    color: $brand-orange-light;
}

.brand-teal {
    color: $brand-teal;
}

.brand-teal-dark {
    color: $brand-teal-dark;
}

.brand-teal-dark-fill {
    fill: $brand-teal-dark;
}


.brand-cyan {
    color: $brand-cyan;
}

.brand-cyan-light {
    color: $brand-cyan-light;
}

.brand-cyan-lighter {
    color: $brand-cyan-lighter
}


//icons

.icon{
	&:before {
		content: attr(data-icon);
		font-family: 'modern_pictograms_proregular';
		font-size: 24px;
		line-height: 100%;
		vertical-align: middle;
		position: relative;
	}

	&.large:before{
		font-size: 72px;
	}
}
